<app-header></app-header>

<section class="section about" id="about">
    <h2 class="section_title">About Me</h2>
    <span class="section_subtitle">My introduction</span>

    <div class="about_container container grid">
        <img src="assets/img/svg_icons/developer activity.min.png" alt="about image" class="about_img">
        <div class="about_data">
            <p class="about_description">
                Web and application developer with extensive knowledge and years of
                 experience working in web technologies and UI/UX design,delivering quality work.
            </p>
            <div class="about_info">
                <div>
                    <span class="about_info-title">02+</span>
                    <span class="about_info-name">Years <br> experience </span>
                </div>
                <div>
                    <span class="about_info-title">20+</span>
                    <span class="about_info-name">Projects <br> completed </span>
                </div>
                <div>
                    <span class="about_info-title">05+</span>
                    <span class="about_info-name">Companies <br> worked </span>
                </div>
            </div>
            <div class="about_buttons">
                <a download = "" href="assets/pdf/joseph-CV.pdf" class="button button--flex">
                    Download CV<i class="uil uil-download-alt button_icon"></i>
                </a>
            </div> 
        </div>
    </div>  
</section>

<br>

<app-project></app-project>

<br>

<app-footer></app-footer>
