<footer id="footer">
    <div class="main-footer widgets-dark typo-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 align-items-start">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">JOSEPH WINGS<span></span></h5>
                        <p>Crafting delightful user experiences for your digital products. 
 
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>   
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a [routerLink]="['/services']" routerLinkActive="active">&nbsp;Services</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a [routerLink]="['/portfolio']" routerLinkActive="active">&nbsp;Portfolio</a></div>	
                            </li>
                            <li>
                                <div class="thumb-content"><a [routerLink]="['/skills']" routerLinkActive="active">&nbsp;Tech stack</a></div>	
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-2">
                    <div class="widget no-box">
                        <h5 class="widget-title">Socials<span></span></h5>
                        <a href="https://github.com/" target="_blank" class="footer_social">
                            <i class="uil uil-github-alt"></i>
                        </a>
                        <a href="https://twitter.com/?lang=en" target="_blank" class="footer_social">
                            <i class="uil uil-twitter-alt"></i>
                        </a>
                        <a href="https://www.linkedin.cn/" target="_blank" class="footer_social">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                            
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span> </h5>
                        <i class="uil uil-envelope contact_icon"></i>
                        <span class="contact_subtitle">josephwings.jw@gmail.com</span>
                        <div>
                            <i class="uil uil-phone-alt contact_icon"></i>
                        <span class="contact_subtitle">+254776-676-776</span>
                        </div>
                        <div>
                            <i class="uil uil-map-marker contact_icon"></i>
                            <span class="contact_subtitle">Nairobi-Kenya</span>
                        </div>
                        
                    </div>
                    <div class="emailfield">
                        <input type="text" name="email" value="Email">
                        <input name="uri" type="hidden" value="arabiantheme">
                        <input name="loc" type="hidden" value="en_US">
                        <input class="submitbutton ripplelink" type="submit" value="Subscribe">
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright  col-md-12 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright WINGS © 2021. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<a href="#" class="scrollup" id="scroll-up">
    <i class="uil uil-arrow-up scrollup_icon"></i>
</a>
