<app-header></app-header>
<section class="skills section" id="skills">
    <h2 class="section_title">Skills</h2>
    <span class="section_subtitle">My specialities</span>

    <div class="skills_container container grid">
          <div class="skills_container" id="skills-container">
            <ul>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/angular-icon.svg" alt="Angular" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/logo-javascript.svg" alt="Javascript" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/nodejs-icon.svg" alt="nodejs" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/nginx-1.svg" alt="ngnx" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/sass-1.svg" alt="sass" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/figma-1.svg" alt="figma" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/git-icon.svg" alt="git" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/html5-2.svg" alt="HTML5" class="skill-icon">
                </li>
                <li class="skills_tech">
                    <img src="assets/img/svg_icons/tailwindcss.svg" alt="tailwindcss" class="skill-icon">
                </li>
            </ul>
        </div>
    </div>
</section>

<app-footer></app-footer>