<section class="portfolio section" id="portfolio">
    <h2 class="section_title">Portfolio</h2>
    <span class="section_subtitle">My recent work projects</span>
    
    <swiper class="portfolio_container container swiper-container" [config]="config">
        <div class="swiper-wrapper">
            
            <!--==================== PORTFOLIO 1 ====================-->
            <div class="portfolio_content grid swiper-slide">
                <img src="assets/img/portfolio1.jpg" alt="projectA" class="portfolio_img">
                
                <div class="portfolio_data grid">
                    <h3 class="portfolio_title">Modern responsive website</h3>
                    <p class="portfolio_description">
                        Website responsive to all devices with user interface components
                        and interactive animations.
                    </p>
                    <a href="#" class="button button--flex button--small portfolio_button">
                        Demo
                        <i class="uil uil-arrow-right button_icon"></i>
                    </a>
                </div>
            </div>
            <!--====================== PORTFOLIO 2 =================-->
            <div class="portfolio_content grid swiper-slide">
                <img src="assets/img/portfolio2.jpg" alt="projectB" class="portfolio_img">
                
                <div class="portfolio_data grid">
                    <h3 class="portfolio_title">Branding name</h3>
                    <p class="portfolio_description">
                        Website responsive to all devices with user interface components
                         and interactive animations.
                    </p>
                    <a href="#" class="button button--flex button--small portfolio_button">
                        Demo
                        <i class="uil uil-arrow-right button_icon"></i>
                    </a>
                </div>

            </div>
           <!--========================= PORTFOLIO 3 ===================-->
           <div class="portfolio_content grid swiper-slide">
            <img src="assets/img/portfolio3.jpg" alt="projectC" class="portfolio_img">

            <div class="portfolio_data grid">
                <h3 class="portfolio_title">Online Store</h3>
                <p class="portfolio_description">
                    Website responsive to all devices with user interface components
                     and interactive animations.
                </p>
                <a href="#" class="button button--flex button--small portfolio_button">
                    Demo
                    <i class="uil uil-arrow-right button_icon"></i>
                </a>
            </div>
           </div>
           <!-- ======================== PORTFOLIO 4 =================== -->
           <div class="portfolio_content grid swiper-slide">
            <img src="/assets/img/portfolio4.jpeg" alt="projectC" class="portfolio_img">

            <div class="portfolio_data grid">
                <h3 class="portfolio_title">Bittcash Application</h3>
                <p class="portfolio_description">
                    Website responsive to all devices with user interface components
                     and interactive animations.
                </p>
                <a href="https://bittcash.opalstacked.com/" class="button button--flex button--small portfolio_button">
                    Demo
                    <i class="uil uil-arrow-right button_icon"></i>
                </a>
            </div>
           </div>
        </div>
        <!--swiper arrows-->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>
        <!--pagination-->
        <div class="swiper-pagination"></div>
    </swiper>
</section>
<br>
<br>
<app-footer></app-footer>
