<section class="testimonial section" id="testimonial">
    <h2 class="section_title">Testimonials</h2>
    <span class="section_subtitle">Feedback from Clients</span>

    <div class="testimonial_container container swiper-container">
        <div class="swiper-wrapper">
            <!--==================== TESTIMONIAL 1 ====================-->
            <div class="testimonial_content swiper-slide">
                <div class="testimonial_data">
                    <div class="testimonial_header">
                        <img src="assets/img/testimonial1.jpg" alt="testimonial1" class="testimonial_img">


                        <div>
                            <h3 class="testimonail_name">Irene Grein</h3>
                            <span class="testimonial_client">Client</span>
                        </div>
                    </div>
                    <div>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                    </div>

                </div>
                <p class="testimonial_description">"Exceptional Website designs and UI interfaces with end-to-end support and expert guidance."
                </p>
            </div>
             <!--==================== TESTIMONIAL 2 ====================-->
            <div class="testimonial_content swiper-slide">
                <div class="testimonial_data">
                    <div class="testimonial_header">
                        <img src="assets/img/testimonial2.jpg" alt="testimonial2" class="testimonial_img">


                        <div>
                            <h3 class="testimonail_name">Eric Spur</h3>
                            <span class="testimonial_client">Client</span>
                        </div>
                    </div>
                    <div>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                    </div>

                </div>
                <p class="testimonial_description">I get a good impression, I carry out my project with all
                    the possible quality attention.
                </p>
            </div>
             <!--==================== TESTIMONIAL 3 ====================-->
             <div class="testimonial_content swiper-slide">
                <div class="testimonial_data">
                    <div class="testimonial_header">
                        <img src="assets/img/testimonial3.jpg" alt="testimonial3" class="testimonial_img">


                        <div>
                            <h3 class="testimonail_name">Daniel Law</h3>
                            <span class="testimonial_client">Client</span>
                        </div>
                    </div>
                    <div>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                        <i class="uil uil-star testimonial_icon-star"></i>
                    </div>

                </div>
                <p class="testimonial_description">I get a good impression, I carry out my project with all
                    the possible quality attention.
                </p>
            </div>
        </div>
        <!--Adding pagination -->
        <div class="swiper-pagination swiper-pagination-testimonial"></div>
    </div>
</section>
