<section class="project section" id="project">
    <div class="project_bg">
        <div class="project_container container grid">
            <div class="project_data">
                <h2 class="project_title">You have a new project Idea</h2>
                <p class="project_subtitle">Contact for quality work with timely delivery</p>
                <a href="#contact" class="button button--flex button--white project-button">
                    Contact Me
                    <i class="uil uil-message project_icon button_icon"></i>
                </a>
            </div>
            <!-- <img src="assets/img/projectIdea.jpg" alt="projectImg" class="project_img"> -->
        </div>
    </div>


</section>
